/* CLIPPED TEXT  */

.clipped {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* LANDMARK */

/* IMAGES */

[role=banner] img {
    width: 118px;
}

/* GRID */

body > div,
footer[role="contentinfo"] > div {
    max-width: 1280px;
    margin: 0 auto;
}

footer[role="contentinfo"] {
    background-color: white;
    border-top: 1px solid #ccc;
    margin-top: 32px;
    padding-bottom: 8px;
}

.collections img,
.deals img {
    display: block;
    max-width: 100%;
}

/* CARD */

.collections .card {
    margin-top: 0;
}

/* IFRAME */

iframe {
    border: 0;
    height: 200px;
    margin: 1rem 0;
    width: 100%;
}

/* FAKE TABS */

body.identity [role="main"] {
    background-color: white;
    border: 1px solid #ccc;
    margin: 16px auto;
    padding: 16px;
    width: 400px;
}

/* LINK */

.skin-large a:focus {
  text-decoration: underline;
}

/* TILE */

.item-tile {
    display: block;
    text-decoration: none;
}

.item-tile:hover,
.item-tile:focus {
    text-decoration: none;
}

.item-tile p:last-child {
    color: #555;
}

/* AMBIGUOUS LINK */

.see-all {
    text-align: center;
}

.see-all a {
    text-decoration: none;
}

/* FAKE BUTTON */


/* NEW WINDOW LINK */

span.icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

span.icon--window {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCAyNSI+PHBhdGggZmlsbD0iIzc2NzY3NiIgZD0iTS40OTcgNS43MDFoMTUuNjQ0Yy4yNzQgMCAuNDk3LjIyMi40OTcuNDk3di43MThhLjQ5Ny40OTcgMCAwIDEtLjQ5Ny40OTdILjQ5N0EuNDk3LjQ5NyAwIDAgMSAwIDYuOTE2di0uNzE4YzAtLjI3NC4yMjItLjQ5Ny40OTctLjQ5N3ptMS4yMTUgMFYyMy45NEgwVjUuNzAxaDEuNzEyem0xOC41MTUgNy43ODV2OS45MzlhLjU1Mi41NTIgMCAwIDEtLjU1Mi41NTJoLS42OTlhLjU1Mi41NTIgMCAwIDEtLjU1Mi0uNTUydi05LjkzOWMwLS4zMDUuMjQ3LS41NTIuNTUyLS41NTJoLjY5OWMuMzA1IDAgLjU1Mi4yNDcuNTUyLjU1MnpNMCAyMi4zMDJoMjAuMjA5djEuNzEySDB2LTEuNzEyek0yNS43NjcuMTYxaDEuOTE0djE2LjU4M2gtMS45MTRWLjE2MXptMS45MTQtLjE0N3YxLjkxNEgxMS4wOThWLjAxNGgxNi41ODN6TTI2LjMyMiAwbDEuMzUzIDEuMzUzTDEzLjM5OCAxNS42M2wtMS4zNTMtMS4zNTNMMjYuMzIyIDB6Ii8+PC9zdmc+);
    height: 12px;
    vertical-align: top;
    width: 12px;
}

/* NAVIGATION LANDMARK */

[role=navigation] ul {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
}
[role=navigation] li {
    text-align: center;
    width: 128px;
}
[role=navigation] a {
    font-size: 12px;
    text-decoration: none;
}

/* SKIP-TO LINK */

.clipped--stealth:focus {
    -webkit-clip-path: unset;
    clip: unset;
    clip-path: auto;
    height: auto;
    width: auto;
    z-index: 1;
}

a[href='#mainContent'] {
    background-color: LightYellow;
    left: 0;
    padding: 0.25em;
    top: 0;
}

#mainContent:focus {
    outline: 0 none;
}

/* TEXTBOX */

.field-group {
    display: flex;
    margin: 16px 0;
}

.field-group span.field {
    width: 100%;
}

/* RADIO */

fieldset {
    margin: 16px 0;
}

/* PAGE NOTICE */

.page-notice--attention ul {
    list-style-type: none;
    padding: 0;
}

.page-notice--attention a {
    color: #dd1e31;
}

/* INLINE NOTICE */

.field__description--error {
    color: #dd1e31;
}

/* CLICK FLYOUT */

#eyeball {
    max-width: 1280px;
    margin: 0 auto;
}

.flyout {
    position: relative;
}

.flyout__overlay {
    background-color: white;
    display: none;
    left: 0;
    padding: 0.5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.flyout__overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flyout--click .flyout__trigger[aria-expanded=true] + .flyout__overlay {
    display: block;
}

span.icon--arrow-down {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAxMyI+PHBhdGggZmlsbD0iIzc2NzY3NiIgZD0iTTExLjYwNCAxMi45MjFMMCAwaDIzLjIxNWwtNS44MDcgNi40NjJ6Ii8+PC9zdmc+');
  height: 8px;
  width: 8px;
}

/* HOVER FLYOUT */

body {
    margin: 0;
}

#eyebrow {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0;
}

#eyebrow > div {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
}

#myebay {
    margin-left: auto;
}

.flyout--hover .flyout__trigger[aria-expanded=true] + .flyout .flyout__overlay {
    display: block;
}

.flyout--hover .flyout--click {
    position: static;
}

.flyout--hover .flyout--click .flyout__trigger {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    padding: 0.1em;
}

/* CRITICAL ICON */

a#cart {
    margin-left: 1em;
}

span.icon--cart {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAyNCI+PHBhdGggZmlsbD0iIzc2NzY3NiIgZD0iTTI5LjU2NCA1LjU2MWMtLjI5My0uNDY4LS45MzctMS4wNTQtMi4yMjQtMS4wNTQtMS40MDUtLjA1OS0xOC4yMDcgMC0xOS4yMDIgMEw2LjY3NS41ODVBLjg4Ljg4IDAgMCAwIDUuODU1IDBILjg3OEMuMzUxIDAgMCAuMzUxIDAgLjg3OHMuMzUxLjg3OC44NzguODc4aDQuMzlsNS43MzggMTUuMjJhLjg4Ljg4IDAgMCAwIC44Mi41ODVoMTMuODE3Yy41MjcgMCAuOTM3LS4yOTMgMS4xMTItLjc2MS4xMTctLjI5My43NjEtMi4wNDkgMS40MDUtMy44MDUuNjQ0LTEuODE1IDEuMzQ2LTMuNjg4IDEuNTIyLTQuMjczLjQ2OS0xLjI4OC40MS0yLjQtLjExNy0zLjE2MXptLTEuNTIyIDIuNTE3Yy0uMjM0LjU4NS0uODc4IDIuNDU5LTEuNTggNC4yNzNhMTA3LjM4MiAxMDcuMzgyIDAgMCAwLTEuMjMgMy40NTRoLTEyLjgybC0zLjYzLTkuNTQxaDE4LjVjLjI5MyAwIC42NDQuMDU5LjgyLjI5My4yMzQuMjM0LjE3Ni44Mi0uMDU5IDEuNTIydi0uMDAxek0xNC42OTUgMjEuNmEyLjE2NiAyLjE2NiAwIDEgMS00LjMzMyAwIDIuMTY2IDIuMTY2IDAgMCAxIDQuMzMzIDB6bTEyLjY0NSAwYTIuMTY2IDIuMTY2IDAgMSAxLTQuMzMzIDAgMi4xNjYgMi4xNjYgMCAwIDEgNC4zMzMgMHoiLz48L3N2Zz4=');
  height: 1rem;
  width: 30px;
}

/* NON CRITICAL ICON */

.flyout--click .flyout__trigger span::before {
    font-size: x-small;
}

/* TOOLTIP */

.tooltip--expanded .flyout__overlay {
    background-color: LightYellow;
    display: block;
}

/* ARIA-LABELS */

header h1 {
    margin: 0;
}

button[type="submit"] {
    vertical-align: top;
}

/* FAKE MENU */

#customise {
    display: flex;
    justify-content: flex-end;
}

/* MENU */


/* LIVE REGION RESULTS */

#results {
    background-color: white;
    min-height: 500px;
    padding: 1em;
}
