/* CLIPPED TEXT  */

.clipped {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* LANDMARK */

/* IMAGES */

[role=banner] img {
    width: 118px;
}

/* GRID */

body > div,
footer[role="contentinfo"] > div {
    max-width: 1280px;
    margin: 0 auto;
}

footer[role="contentinfo"] {
    background-color: white;
    border-top: 1px solid #ccc;
    margin-top: 32px;
    padding-bottom: 8px;
}

.collections img,
.deals img {
    display: block;
    max-width: 100%;
}

/* CARD */

.collections .card {
    margin-top: 0;
}

/* LINK */

.skin-large a:focus {
  text-decoration: underline;
}

/* TILE */

.item-tile {
    display: block;
    text-decoration: none;
}

.item-tile:hover,
.item-tile:focus {
    text-decoration: none;
}

.item-tile p:last-child {
    color: #555;
}

/* AMBIGUOUS LINK */

.see-all {
    text-align: center;
}

.see-all a {
    text-decoration: none;
}

/* FAKE BUTTON */


/* NEW WINDOW LINK */

.icon--window {
    display: inline-block;
        font-size: x-small;
        vertical-align: top;
}

/* NAVIGATION LANDMARK */

[role=navigation] ul {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
}
[role=navigation] li {
    text-align: center;
    width: 128px;
}
[role=navigation] a {
    font-size: 12px;
    text-decoration: none;
}

/* SKIP-TO LINK */

.clipped--stealth:focus {
    -webkit-clip-path: unset;
    clip: unset;
    clip-path: auto;
    height: auto;
    width: auto;
    z-index: 1;
}

a[href='#mainContent'] {
    background-color: LightYellow;
    left: 0;
    padding: 0.25em;
    top: 0;
}

#mainContent:focus {
    outline: 0 none;
}

/* IFRAME */

iframe {
    border: 0;
    height: 200px;
    margin: 1rem 0;
    width: 100%;
}

/* CLICK FLYOUT */

.btn-plain {
    background-color: transparent;
    border: 0 none;
}

header > div:last-child {
    max-width: 1280px;
    margin: 0 auto;
}

.flyout {
    position: relative;
}

.flyout__overlay {
    background-color: white;
    display: none;
    left: 0;
    padding: 0.5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.flyout__overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flyout--click .flyout__trigger[aria-expanded=true] + .flyout__overlay {
    display: block;
}

/* HOVER FLYOUT */

#eyebrow {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0;
}

#eyebrow > div {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
}

#myebay {
    margin-left: auto;
}

.flyout--hover .flyout__trigger[aria-expanded=true] + .flyout .flyout__overlay {
    display: block;
}

.flyout--hover .flyout--click {
    position: static;
}

.flyout--hover .flyout--click .flyout__trigger {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    padding: 0.1em;
}

/* CRITICAL ICON */

#cart {
    margin-left: 1em;
}

#cart::before {
    font-weight: 900;
}

/* NON CRITICAL ICON */

.flyout--click .flyout__trigger span::before {
    font-size: x-small;
}

/* TOOLTIP */

.tooltip--expanded .flyout__overlay {
    background-color: LightYellow;
    display: block;
}

/* ARIA-LABELS */

header h1 {
    margin: 0;
}

button[type="submit"] {
    vertical-align: top;
}

/* FAKE MENU */

#customise {
    display: flex;
    justify-content: flex-end;
}

/* MENU */


/* LIVE REGION RESULTS */

#results {
    background-color: white;
    min-height: 500px;
    padding: 1em;
}
