[role="main"] {
    background-color: white;
    border: 1px solid #ccc;
    margin: 16px auto;
    padding: 16px;
    width: 400px;
}

div.field {
    margin: 16px 0;
}

.field-group {
    display: flex;
    margin: 16px 0;
}

.field-group span.field {
    width: 100%;
}

/* RADIO */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* PAGE NOTICE */

.page-notice--priority ul {
    list-style-type: none;
    padding: 0;
}

.page-notice--priority a {
    color: red;
}

/* INLINE NOTICE */

.field__description--error {
    color: red;
}
