[role="main"] {
    background-color: white;
    border: 1px solid #ccc;
    margin: 16px auto;
    padding: 16px;
    width: 400px;
}

/* RADIO */

fieldset {
    border: 0;
    margin: 16px 0;
}

fieldset .field {
    float: left;
    width: 50%;
}

fieldset span.field + span.field {
    margin: 0;
}

/* PAGE NOTICE */

.page-notice--priority ul {
    list-style-type: none;
    padding: 0;
}

.page-notice--priority a {
    color: red;
}

/* INLINE NOTICE */

.field__description--error {
    color: red;
}
